* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #30b868;
  transition: color 0.3s;
}

/* .get-btn {
  background-color: #30b868;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
} */

.get-btn a {
  background-color: #30b868;
  padding: 10px 16px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.get-btn a:hover {
  background-color: #28a75a;
  transition: background-color 0.3s;
}
