* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #30b868;
  transition: color 0.3s;
}

/* .get-btn {
  background-color: #30b868;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
} */

.get-btn a {
  background-color: #30b868;
  padding: 10px 16px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.get-btn a:hover {
  background-color: #28a75a;
  transition: background-color 0.3s;
}

/* Banner Section Styles */

.banner {
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  text-align: center;
}

/* Notes Section Styles */

.notes-section {
  /* background-color: #f9f9f9; */
  padding: 50px 10%;
}

.notes-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.notes-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.note-card-item {
  background-color: #fff;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.card-img {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.note-card-item h3 {
  margin-bottom: 10px;
}

.note-card-item p {
  text-align: center;
}

/* Brain Section Styles */

.brain-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.brain-content {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
