* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* paragraph */

.paragraph {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}

/* button  */

.btn {
  display: flex;
  align-items: center;
  padding: 10px;
  padding: 14px 24px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 9px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn__primary {
  background-color: #30b868;
  color: #fff;
  border: 2px solid #30b868;
}

.btn__primary:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.btn__secondary {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.btn__secondary:hover {
  background-color: #30b868;
  border: 2px solid #30b868;
}

.btn-gap {
  gap: 10px;
}

.btn__icon {
  width: 25px;
  height: 25px;
}

/* navbar styles */

.header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav__menu {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: #30b868;
}

.btn__small:hover {
  background-color: rgba(48, 184, 104, 0.8);
}

/* Hero Banner Section Styles */

.hero {
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero__content {
  text-align: center;
  color: #fff;
}

.hero__subtitle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto 20px;
  background-color: #fff;
  padding: 8px 14px;
  border-radius: 25px;
  color: #30b868;
  width: fit-content;
}

.hero__title {
  font-size: 64px;
  max-width: 720px;
  margin: 0 auto 20px;
}

.hero__title-highlight {
  color: #30b868;
}

.hero__description {
  margin: 0 auto;
  max-width: 720px;
  line-height: 1.8;
  font-weight: 500;
}

.hero__btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Notes Section Styles */

.notes {
  padding: 80px 0;
}

.notes__header {
  text-align: center;
  margin: 0 auto 30px;
}

.notes__title {
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}

.notes__subtitle {
  color: #627382;
  font-weight: 400;
  margin: 0 auto;
}

.notes__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.notes__card {
  background-color: #fff;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.notes__card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.notes__icon {
  background-color: rgb(249, 85, 85);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 15px 0;
}

.notes__icon img {
  width: 25px;
  height: 25px;
}

.notes__card-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #001931;
}

.notes__card-text {
  color: #627382;
  text-align: center;
}

/* Brain Section Styles */

.brain {
  padding: 50px 0;
}

.brain__container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.brain__image {
  flex: 1;
}

.brain__img {
  width: 100%;
  max-width: 500px;
}

.brain__content {
  gap: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.brain__label {
  color: #30b868;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
}

.brain__title {
  color: #001931;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
}

.brain__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 8px 0;
}

.brain__item {
  color: #001931;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.brain__icon {
  width: 25px;
  height: 25px;
}

/* Early Access Section Styles */

.early {
  padding: 50px 0;
}

.early__content {
  background-color: #f7f6f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  border-radius: 10px;
  text-align: center;
}

.early__title {
  text-transform: capitalize;
  color: #001931;
  font-size: 48px;
  margin-bottom: 15px;
}

.early__description {
  max-width: 650px;
  margin-bottom: 25px;
}

.early__btn {
  margin-bottom: 15px;
  text-transform: capitalize;
}

.early__note {
  font-size: 14px;
}

/* footer styles */
.footer {
  background-color: #333;
  padding: 30px 0 30px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.footer__logo {
  max-width: 160px;
}

.footer__social-title {
  color: #fff;
  margin-bottom: 10px;
  font-weight: 500;
}

.footer__icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer__icon {
  width: 30px;
  height: 30px;
  background-color: #444;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.footer__icon:hover {
  background-color: #30b868;
}

.footer__horizontal {
  opacity: 0.25;
}

.footer__copyright {
  color: #fff;
  text-align: center;
  padding-top: 30px;
}
