* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* paragraph */

p {
  font-size: 20px;
}

/* button  */

.btn {
  display: flex;
  align-items: center;
  padding: 10px;
  padding: 14px 24px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 9px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn__primary {
  background-color: #30b868;
  color: #fff;
  border: 2px solid #30b868;
}

.btn__primary:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.btn__secondary {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.btn__secondary:hover {
  background-color: #30b868;
  border: 2px solid #30b868;
}

.btn__icon {
  width: 18px;
  height: 18px;
}

/* navbar styles */

.header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav__menu {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: #30b868;
}

.btn__small:hover {
  background-color: rgba(48, 184, 104, 0.8);
}

/* Hero Banner Section Styles */

.hero {
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero__content {
  text-align: center;
  color: #fff;
}

.hero__subtitle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto 20px;
  background-color: #fff;
  padding: 8px 14px;
  border-radius: 25px;
  color: #30b868;
  width: fit-content;
}

.hero__title {
  font-size: 64px;
  max-width: 720px;
  margin: 0 auto 20px;
}

.hero__title-highlight {
  color: #30b868;
}

.hero__description {
  margin: 0 auto;
  max-width: 720px;
  line-height: 1.8;
  font-weight: 500;
}

.hero__btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Notes Section Styles */

.notes-section {
  /* background-color: #f9f9f9; */
  padding: 50px 10%;
}

.notes-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.notes-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.note-card-item {
  background-color: #fff;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.card-img {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.note-card-item h3 {
  margin-bottom: 10px;
}

.note-card-item p {
  text-align: center;
}

/* Brain Section Styles */

.brain-section {
  padding: 50px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.brain-content {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

/* Early Access Section Styles */

.early-access {
  /* background-color: #f9f9f9; */
  padding: 50px 10%;
}

.early-access-content {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  border-radius: 10px;
  text-align: center;
}

footer {
  background-color: #333;
  padding: 30px 10%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

hr {
  opacity: 0.25;
}

footer p {
  color: #fff;
  text-align: center;
  padding-top: 30px;
}
